.page_products{
    /* border: 2px solid green; */
}
.products {
    background: black;
    padding: 0% 1% 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-gap: 1%;
}
.products_image {
    border-radius: 10px;
    width: 250px; 
    height: 250px;
}
.heading{
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 2% 0% 0% 0%;
    background: black;
}