*{
    margin: 0;
    padding: 0;
}
.contenier{
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    padding-bottom: 2%;
}
.left_panel{
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    padding: 4%;
    background: black;
}

.basket,.favorites{
    background: black;
    height: 350px;
    width: 96%;
    display: flex;
    /* overflow-y: scroll; */
    flex-direction: column;
    padding: 0% 2%;
}
.products_basket{
    padding: 7px 7px 4px 7px;
    width: 70px;
    height: 70px;
}
.addBasket{
    padding: 1.2% 3%;
    border-radius: 5px;
    border: none;
    margin-right : 1%;
    background : purple;
    color : white;
}
.addliked{
    padding: 1.2% 3%;
    border: none;
    border-radius: 5px;
    margin-left: 1%;
    color: white;
    background: rgb(146, 146, 146);
}
.image_basket{
    width: 10%;
    margin-left: 80%;
}