div::-webkit-scrollbar {
    width: 8px; /* Ширина полосы прокрутки */
    background-color: transparent; /* Цвет фона полосы прокрутки */
  }
  
  /* Стили для трека (бара) полосы прокрутки */
  div::-webkit-scrollbar-track {
    background-color: transparent; /* Цвет фона трека */
  }
  
  /* Стили для полосы прокрутки при наведении на неё */

  /* Стили для полосы прокрутки */
  div::-webkit-scrollbar-thumb {
    background: rgb(33,32,35,255);
    border-radius: 4px; /* Радиус скругления углов */
  }