*{
    margin: 0;
    padding: 0;
}
.contenier{
    border: 1px solid;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
    padding-bottom: 2%;
    /* margin: 0% 5% */
}
.left_panel{
    border: 1px solid;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    padding: 2%;
}
.right_panel{
    border: 1px solid;
}
.basket{
    border: 2px solid rgb(180, 47, 47);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0% 2%;
}
.products_basket{
    width: 50%;
    height: 50%;
    border: 1px solid yellow;
}